/*Service*/
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  flex-direction: column;
  background: linear-gradient(#90ee90, #90ee90, 50%, #fff, 50%, #fff 100%);
}
.service h2 {
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
  padding-bottom: 10px;
}
.service h2:after {
  content: "";
  background: #333;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto;
}

.Steps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
}
.Steps .title {
  margin-top: -20px;
}

.Steps .box {
  position: relative;
  width: 330px;
  background: #fff;
  padding: 100px 40px 60px;
  box-shadow: 0 15px 45px (0, 0, 0, 0.1);
  cursor: pointer;
}

.Steps .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #98fb98;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.8s;
}

.Steps .box:hover::before {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.8s;
}

.Steps .box img {
  position: absolute;
  right: 150px;
  top: 10px;
  width: 70px;
  z-index: 1;
  opacity: 1;
}
.Steps .box:hover img {
  opacity: 0;
}

.Steps .box h2 {
  position: absolute;
  left: 40px;
  top: 60px;
  font-size: 4em;
  color: #3333;
  font-weight: 300;
  z-index: 1;
  opacity: 0.5;
  transition: 0.5s;
}

.Steps .box:hover h2 {
  opacity: 2;
  color: #fff;
  transform: translateY(-50px);
}

.Steps .box h3 {
  position: relative;
  font-size: 1.5em;
  z-index: 2;
  color: #333;
  margin: 10px;
  transition: 0.5s;
}

.Steps .box p {
  position: relative;
  font-size: 1em;
  z-index: 2;
  color: #555;
  text-rendering: auto;
  transition: 0.5s;
}

.Steps .box:hover h3,
.Steps .box:hover p {
  color: #fff;
}

/*team*/

.team {
  margin: 75px 0;
  width: 100%;
  min-height: 80vh;
  background: #87cefa;
  padding: 60px;
}

.team h2 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
  padding-bottom: 10px;
}

.team h2:after {
  content: "";
  background: #333;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto;
}

.team .team-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #fff;
  margin: 50px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2),
    0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}
.team-c .block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 20px;
  flex-direction: column;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2),
    0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}

.icon li {
  display: inline-block;
  margin: 20px;
}
.icon i {
  padding: 10px;
  background: #87cefa;
  text-align: center;
  border-radius: 50%;
}
.icon i:hover {
  color: #fff;
}

.team-c img {
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
}

.team-c .info {
  text-align: center;
  margin: 8px;
  font-weight: 800;
  white-space: inherit;
}

.info h3 {
  font-weight: bold;
  margin: 2px;
}
.info h4 {
  font-weight: lighter;
  margin: 2px;
}
.info p {
  opacity: 0.8;
}

/*partner*/
.partner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  flex-direction: column;
}
.partner h2 {
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
}
.partner h2:after {
  content: "";
  background: #333;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto;
}
.partner .pat {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pat img {
  width: 400px;
}
