html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*Accueil*/

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/image/home.jpg);

  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  cursor: pointer;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
/* 
.hamburger {
  background-color: transparent;
  border: 0;
  display: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.hamburger:focus {
  outline: none;
} */

.row {
  display: flex;
  height: 78%;
  align-items: center;
}
.col {
  flex-basis: 50%;
  color: #fff;
}
h1 {
  font-size: 100px;
}

p {
  font-size: 11px;
  line-height: 15px;
}

button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
button:hover {
  background: rgb(39, 202, 39);
  color: #000;
}

.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 15px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  box-shadow: #000;
}

.card1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.card2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.card3 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.card4 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.card:hover {
  transform: translateY(-10px);
}

/*contact*/
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(image/bgContact.jpg);
  flex-direction: column;
  background-size: cover;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #ffff;
}

.contact .content p {
  font-weight: 300;
  color: #ffff;
}

.container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container1 .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container1 .contactInfo .box {
  position: relative;
  display: flex;
  padding: 20px 0;
}

.container1 .contactInfo .box .icon {
  width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}
.container1 .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 20px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
}

.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container1 {
    flex-direction: column;
  }
  .container .contactForm {
    margin-bottom: 40px;
  }
  .container .contactInfo {
    width: 100%;
  }
}

/*About*/

.section {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}
.container-about {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.content-about {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
}

.image-section img {
  width: 100%;
  height: auto;
}

.content-about .title {
  text-transform: uppercase;
  font-size: 20px;
}

.content-about .content-2 h3 {
  margin-top: 20px;
  color: #5d5d5d;
}

.content-about .content-2 p {
  margin-top: 10px;
  color: #5d5d5d;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

.content-about .content-2 .btn {
  margin-top: 30px;
}
.content-about .content-2 .btn a {
  background-color: #33dd33;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1.5;
  border-radius: 30px;
  font-weight: bold;
}

.content-about .content-2 .btn a:hover {
  background-color: #a52a2a;
}

.content-about .content-2 .social {
  margin-top: 20px;
}

.content-about .content-2 .social i {
  background-color: #a52a2a;
  font-size: 30px;
  padding: 0 10px;
}

/*Scroll*/
.scroll {
  position: fixed;
  top: 42%;
  right: 0;
  width: 30px;
  height: 30px;
  display: block;
  background: #000;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  z-index: 1000;
}
.scroll.top {
  top: calc(50% - 80px);
  background: #44e839;
}
.scroll.bottom {
  top: calc(50% - 0);
  background: #67e6d5;
}

/* contact-nous */

#contact-us {
  padding: 60px 0;
  text-align: center;
}

#Contact-us h3 {
  width: 400px;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #02b8dd;
  padding-bottom: 20px;
}
form {
  margin: 60px 0 20px 0;
}
label {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  color: #777;
}

input[type="text"] {
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
  border: 2px solid #ddd;
  border-radius: 3px;
}
.button-3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 11px;
  background-color: #33dd33;
  border-style: none;
  border-radius: 3px;
}
.button-3:hover {
  color: #fff;
  background-color: #444;
}

/* footer */
footer {
  min-height: 50vh;
  background-color: #444;
  position: relative;
}
footer h3 {
  color: #fff;
  text-align: center;
}
.copyright {
  text-align: center;
  font-weight: 30px;
  color: #777;
  margin: 220px;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}
.footer-content .colp1 {
  position: absolute;
  left: 100px;
  top: 20px;
}

.footer-content .colp2 {
  position: absolute;
  right: 50px;
  top: 20px;
  margin: 10px;
}
.colp2 li {
  display: block;
  margin: 20px;
  color: #ddd;
  background: rgb(41, 40, 40);
  border-radius: 50px;
  padding: 8px;
  text-align: center;
  width: 500px;
}
.colp2 a {
  text-decoration: none;
}
.colp2 li a {
  color: #33dd33;
}

.copyright span {
  font-size: 40px;
  color: #33dd33;
}
.copyright a {
  text-decoration: none;
  color: #33dd33;
}

/*Media Query*/
/* @media screen and (max-width: 992px) {
  body {
    width: ;
  }
} */

@media screen and (max-width: 767px) {
  .navbar {
    display: none;
  }
  .hamburger {
    display: block;
  }
  button {
    width: 100%;
  }
  .logo {
    width: 80px;
  }

  ul,
  li,
  a {
    padding: 10px;
  }
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(/image/home.jpg);
    padding-bottom: 0;
  }
  .col {
    width: 50px;
  }
  .col .card {
    display: none;
  }
  .scroll {
    line-height: 10px;
  }
}

@media screen and (max-width: 871px) {
  .col .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 10px;
  }
  .card {
    flex-direction: column-reverse;
  }
}
